@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "FKDisplay", sans-serif;
	line-height: 1.5;
}

#headlessui-listbox-button-\:R2njcm\: > div {
	display: none;
}

nav > a > span {
	@apply font-bold;
}

.nx-flex.nx-flex-col.nx-gap-1.max-md:nx-hidden {
	display: none;
}

@font-face {
	font-family: "FKDisplay";
	src: url("/fonts/fkd.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

.communityShadow {
	box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	transition: box-shadow 0.2s ease;
}

.communityShadow:hover {
	box-shadow: -1px -1px 0px rgba(255, 255, 255, 0.5);
}

details > summary {
	list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
	display: none;
}

details summary svg:nth-child(2) {
	display: none;
}

details[open] summary svg:nth-child(2) {
	display: block;
}

details[open] summary svg:nth-child(1) {
	display: none;
}

details[open] summary ~ * {
	animation: ease-opacity-t-b 0.5s ease;
}

#__next
	> div
	> div.nx-mx-auto.nx-flex.nx-max-w-\[90rem\]
	> aside
	> div.nx-overflow-y-auto.nx-overflow-x-hidden.nx-p-4.nx-grow.md\:nx-h-\[calc\(100vh-var\(--nextra-navbar-height\)-var\(--nextra-menu-height\)\)\].nextra-scrollbar
	> div
	> div
	> ul
	> li
	> a {
	@apply text-white uppercase;
}

#__next
	> div
	> div.nx-mx-auto.nx-flex.nx-max-w-\[90rem\]
	> aside
	> div.nx-overflow-y-auto.nx-overflow-x-hidden.nx-p-4.nx-grow.md\:nx-h-\[calc\(100vh-var\(--nextra-navbar-height\)-var\(--nextra-menu-height\)\)\].nextra-scrollbar
	> div
	> div
	> ul
	> li
	> div
	> div
	> ul
	> li
	> a {
	@apply text-white/80;
}

#__next
	> div
	> div.nx-mx-auto.nx-flex.nx-max-w-\[90rem\]
	> aside
	> div.nx-overflow-y-auto.nx-overflow-x-hidden.nx-p-4.nx-grow.md\:nx-h-\[calc\(100vh-var\(--nextra-navbar-height\)-var\(--nextra-menu-height\)\)\].nextra-scrollbar
	> div
	> div
	> ul
	> li
	> div
	> div
	> ul
	> li.open
	> div
	> div
	> ul
	> li
	> a {
	@apply text-white/70;
}

:root {
	--nextra-navbar-height: 5rem;
}

@font-face {
	font-family: "FKDisplay";
	src: url("/fonts/fkd.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

.nx-text-primary-600 {
	@apply text-white;
}

ul > li > div > div > * {
	@apply whitespace-nowrap;
}

#__next
	> div
	> div.nx-mx-auto.nx-flex.nx-max-w-\[90rem\]
	> aside
	> div.nx-overflow-y-auto.nx-overflow-x-hidden.nx-p-4.nx-grow.md\:nx-h-\[calc\(100vh-var\(--nextra-navbar-height\)-var\(--nextra-menu-height\)\)\].nextra-scrollbar {
	@apply min-w-[282px];
}

.nextra-callout {
	@apply px-5 py-3 flex items-start gap-6 max-w-full md:max-w-[80%];
}

.nextra-callout > div:nth-child(2) > * {
	line-height: 23px !important;
	@apply text-sm;
}

.nextra-callout > div:nth-child(1) {
	@apply text-3xl;
}

.nextra-callout {
	@apply flex items-center justify-center;
}

#__next > div > div.nx-mx-auto.nx-flex.nx-max-w-\[90rem\] > nav > div > ul {
	@apply flex-col flex;
}

#__next > div > div.nextra-nav-container.nx-sticky.nx-top-0.nx-z-20.nx-w-full.nx-bg-transparent.print\:nx-hidden > nav {
	@apply max-w-full px-4 lg:px-[79px];
}

.bundlr-web3-button {
	font-size: 1 rem !important; /* text-md */
	z-index: 50 !important; /* z-50 */
	display: flex !important; /* flex */
	align-items: center !important; /* items-center */
	gap: 0.5rem !important; /* gap-2 */
	border-radius: 9999px !important; /* rounded-full */
	padding: 1rem 1.5rem !important; /* px-4 py-3 */
	font-family: "Roboto Mono", monospace !important; /* font-robotoMono */
	text-transform: uppercase !important; /* uppercase */
	background-color: #000 !important; /* bg-black */
	color: #fff !important; /* text-white */
	border: 1px solid #fff !important; /* white border */
}
.bundlr-web3-button circle {
	stroke: white;
}

.bundlr-web3-button:hover {
	font-weight: bold !important; /* hover:font-bold */
}

@media (min-width: 1024px) {
	.bundlr-web3-button {
		padding: 1.5rem 2rem !important; /* lg:px-6 lg:py-5 */
	}
}
